.textarea {
    padding: 16px;
    outline: none;
    border: 1px dashed #97a2bb4d;
    color: black;
    background: white;
    border-radius: 8px;
    resize: none;
    height: 120px;
    font-size: 16px;
    &:focus {
        border: 1px solid var(--color-accent-pink);
    }
}
